@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@400;700&display=swap');

body {
    font-family: 'Grenze';
    background-color: #262626;
    color: #f1f1f1;
}

.game-master {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 18px 180px;
}

.top-app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
}

.top-app-bar-title {
    flex: 3;
}


.top-app-bar-button-row {
    display: flex;
    justify-content: space-evenly;
    flex: 2;
}

.top-app-bar-icon-button {
  padding: 12px 12px;
  border: none;
  background: transparent;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-app-bar-icon-button:hover {
    background-color: #373737;
}

.canvas {
    flex: 5;
    overflow-y: auto;
    line-height: 1.6;
    white-space: pre-wrap;
    font-size: 30px;
}

.canvas::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

.canvas::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 12px;
    height: 36px;
    
}

.input-area {
    font-size: 30px;
    line-height: 1.6;
}